* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}


/*---------------
     home
 ----------------*/
.main-heading {
  text-align: center;
  font-size: 3em;
  margin-top: 1em;
}

.calculators-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2em auto;
    flex-wrap: wrap;
}

.start-item {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2em;
  padding: 1em 1.2em;
  width: 300px;
  margin: 0.5em auto;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.start-item:hover,
.start-item:focus {
  border-color: purple;
  color: purple;
}

/*---------------
     lbs-kg
 ----------------*/
.container {
  width: 90%;
  margin: 0 auto;
  background-color: lightblue;
  padding: 0.5em 1em;
  font-family: monospace;
}

.calcHeadings {
  grid-area: heading;
  text-align: center;
  font-size: 2em;
}

.inputHeading {
  grid-area: inputHeading;
  text-align: center;
  background-color: yellow;
  width: 95%;
}

.outputHeading {
  grid-area: outputHeading;
  text-align: center;
}

.inputField {
  grid-area: pfundInput;
  margin: auto 0;
  background: blue;
}

#pounds {
  padding: 1em;
  font-family: monospace;
}

.btn {
  grid-area: button;
  margin: auto 0;
}

#btn {
  padding: 0.5em 1.2em;
  text-transform: uppercase;
  border-radius: 15px;
}

.result {
  grid-area: ergebnis;
  background-color: yellow;
  text-align: center;
  margin: auto 0;
  font-size: 1.2em;
}

.container {
  display: grid;
  grid-template-areas:
    'heading heading heading'
    'inputHeading . outputHeading'
    'pfundInput button ergebnis';
  grid-gap: 1em;
}
