* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  width: 80%;
  margin: 0 auto;
}

/*---------------
     home
 ----------------*/
.main-heading {
  text-align: center;
  font-size: 3em;
  margin-top: 1em;
}

.calculators-container {
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
  flex-wrap: wrap;
}

.start-item {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2em;
  padding: 1em 1.2em;
  width: 300px;
  margin: 0.5em auto;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.start-item:hover,
.start-item:focus {
  border-color: purple;
  color: purple;
}

/*---------------
     lbs-kg
 ----------------*/
.container {
  margin: 0 auto;
  padding: 0.5em 1em;
  display: grid;
  grid-template-areas:
    'heading heading heading'
    'inputHeading . outputHeading'
    'pfundInput button ergebnis';
  grid-gap: 1em;
}

.calcHeadings {
  grid-area: heading;
  text-align: center;
  font-size: 2em;
}

.inputHeading {
  grid-area: inputHeading;
  text-align: center;
  background-color: yellow;
  width: 95%;
}

.outputHeading {
  grid-area: outputHeading;
  text-align: center;
}

.inputField {
  grid-area: pfundInput;
  margin: auto 0;
}

.inputFieldStone {
  grid-area: stoneInput;
  margin: auto 0;
}

.inputFieldPound {
  grid-area: lbsInput;
  margin: auto 0;
}

.inputStyle {
  border: none;
  background-color: lightblue;
  padding: 1em 1.2em;
  border-radius: 10px;
}

#pounds {
  padding: 1em;
  font-family: monospace;
}

.btn {
  grid-area: button;
  margin: 0 auto;
}

.convertButton {
  padding: 0.5em 1.2em;
}

#btn {
  padding: 0.5em 1.2em;
  text-transform: uppercase;
  border-radius: 15px;
}

.result {
  grid-area: ergebnis;
  background-color: yellow;
  text-align: center;
  margin: auto 0;
  font-size: 1.2em;
}

.stone-to-kg-container {
  display: grid;
  grid-template-areas:
    'heading heading'
    'inputHeading inputHeading'
    'stoneInput lbsInput'
    'button button'
    'outputHeading outputHeading'
    'ergebnis ergebnis';
  grid-gap: 1em;
}
